.info {
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin-top: 5px;
    color: $secondary;
    color: lighten($color: $secondary, $amount: 30);
}

h3 {
    font-size: 2em;
    & .crypto {
        background: -webkit-linear-gradient(0deg, rgba(63,189,225,1) 0%, rgba(72,99,136,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    & .coin {
      background: -webkit-linear-gradient(0deg, rgba(63,189,225,1) 0%, rgb(72, 99, 136) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

img {
        width: 170px;
        height: 170px;
}

p {
    font-size: 1.4em;

    & strong {
        color: $secondary;
        color: lighten($color: $secondary, $amount: 45);
    }
}
